.challenge-page {
  .waiting {
    text-align: center;
    .user-link {
      font-size: 2em;
    }

    .spinner {
      width: 13em;
      height: 13em;
      margin: 2em auto;
    }
  }

  .cancel {
    margin: 2em 0;
    text-align: center;
  }

  .details {
    @extend %flex-between;

    $c-bg: mix($c-good, $c-bg-box, 10%);
    --c-font: #{$c-good};
    --c-bg: #{$c-bg};

    border-radius: 99px;
    padding: 0.5em 1.1em;
    margin-bottom: 3rem;
    font-size: 2em;
    background: var(--c-bg);
    border: 1px solid var(--c-font);

    > div {
      @extend %flex-center, %nunito;

      &::before {
        color: var(--c-font);
        font-size: 6rem;
        margin-right: 0.2em;
      }


      div {
        line-height: 1.4;
      }
    }
  }

  .cancel {
    text-align: center;
  }
}
