$c-study: $c-primary;

.games {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax($viewport-min-width, 1fr));

  @include breakpoint($mq-medium) {
    grid-template-columns: repeat(auto-fill, minmax(45ch, 1fr));
  }

  .game {

    position: relative;
    border: $border;
    border-width: 0 1px 1px 0;
    padding: 1em 0.6em 1em 1.3em;

    overflow: hidden;

    @include transition;

    &:hover {
      background: mix($c-study, $c-bg-box, 10%);

      .top::before {
        color: mix($c-link, $c-bg-box, 100%);
      }
    }
    
  }
}
