.box {
  @extend %box-shadow;

  background: $c-bg-box;

  @include fluid-size('--box-padding', 15px, 60px);

  &-pad {
    @extend %box-padding;

    .box__top {
      padding: 0 0 var(--box-padding) 0;
    }
  }

  &__top {
    @extend %flex-between;

    padding: calc(5vh - 1rem) var(--box-padding);

    h1 {
      margin: 0;
    }

    &__pad {
      @extend %box-padding-horiz;
    }
  }
}

@include breakpoint($mq-main-margin) {
  .box {
    @include box-radius;
  }
}
