.chapters {
}

.chapter h3 {
  user-select: none;
  cursor: pointer;
  padding: 0.2em;
  font-size: 1em;
}

.chapter.selected {
  background: #ceffaa;
}

.chapter:hover {
  color: black;
  background: #c3ff1a;
}
