%base-font-fallback {
  font-family: 'Poppins', Sans-Serif;
};

%base-font {
  font-family: 'Poppins', Sans-Serif;
};

%nunito {
  font-family: 'Nunito', Sans-Serif;
};

%nunito-fat {
  font-family: 'Nunito', Sans-Serif;
  font-weight: 600;
}

%chess-font {
  font-family: 'Noto Chess', 'Noto Sans';
};

%san {
  @extend %chess-font;
  
}

%button-shadow {
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.225);
}

%button-raised-shadow {
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.225);
}


%focus-shadow {
  box-shadow: 0 0 12px $c-font-dim;
}

%box-padding {
  padding: 5vh var(--box-padding);
}

%ellipsis {
  @include ellipsis;
}

%abs-100 {
  position: absolute;
  width: 100%;
  height: 100%;
}
