.rotide__bar__control {

  .popup {
    user-select: none;
    position: absolute;
    background: $c-bg-popup;
    bottom: 50px;
    right: 0;
    min-width: 150px;
    border: 1px solid $c-border;

    &.hidden {
      display: none;
    }

    .headline {
      cursor: pointer;
      display: flex;
      padding: 0.8em;
      justify-content: center;
      color: white;
      border-bottom: 1px solid #2a2a2a;

      i {
        margin-right: 1em;
      }
      &.content {
        color: $c-secondary-dim;
      }
      
    }
  }

  .popup {
    .item {
      color: $c-font;
      display: flex;
      cursor: pointer;
      padding: 0.5em;
      justify-content: center;

      &:hover {
        color: c-clearer($c-font, 40%);
        background: mix($c-secondary, $c-bg-popup, 10%);
      }
    }

    a {
      color: inherit;
      display: block;
      transition: background 0.13s;
    }
  }


  .selectbook {
    display: flex;
    flex-flow: column;
    min-width: 50vw;
    .headline {
      cursor: pointer;
      display: flex;
      padding: 0.8em;
      justify-content: center;
      font-weight: bold;
      color: white;
      border-bottom: 1px solid #2a2a2a;

      i {
        margin-right: 1em;
      }
    }

    .item {
      &.content {
        color: $c-secondary;
      }
      &.content::before {
        content: '_content_';
        margin-right: 1em;
      }
    }
  }

  .buttons {
    @extend %flex-between;

    .separator {
      flex: 0.2;
    }
    
    div {
      flex: 1;
    }
  }
}

