.rotide__bar {

  &__control {

    position: relative;
    margin: 1em 1.8em;

    .open {
      font-weight: bold;
      font-size: 2em;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 0;
    }

  }
}
@import 'barchild';
