.rotide__app__editor {

  .editor,
  .preview {
    display: inline-block;
    width: 50%;
    height: 100%;
  }

  .editor {
    background: #303030;
    border-right: 1px solid #000;

    textarea {
      font-size: 1.2em;
      background: #303030;
      border: none;
      box-sizing: border-box;
      resize: none;
      outline: 0;
      width: 100%;
      height: 100%;
    }
  }

  .preview {

    .csdm .content {
      width: 50vw;
      height: calc(100vh - var(--site-header-height));
      overflow-x: hidden;
      padding-bottom: 100px;
    }
    
    
  }
  
}
