#main-wrap {
  --main-max-width: auto;

  --main-margin: 0;
}

.rotide {

  grid-area: main;
  position: relative;

  &__app {

    &__editor {

      height: calc(100vh - var(--site-header-height));

    }
    
  }



  &__bar {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
