.rotide__overlay {
  @extend %abs-100;
  top: 0;
  left: 0;
  background: $c-bg-page;
  z-index: 5;
}

.rotide__dialog {
  @extend %flex-column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  background: $c-bg-popup;
  border: 1px solid $c-border;
  padding: 0.5em;

  .headline {
    margin: 1em;
    font-weight: bold;
  }

  .input {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    input {
      margin-left: 1em;
    }
  }
  
  .buttons {
    @extend %flex-center;
    .separator {
      flex: 0.2;
    }
    div {
      flex: 0.8;
    }
  }
}

