$top-height: 3.2rem;

.study-index {

  .box__top {
    @extend %flex-center;

    h1 {
      flex: 3 1 auto;
      margin: 0 0 1rem 0;
    }

    .new-study {
      height: $top-height;
      margin-left: 1rem;
      white-space: nowrap;
    }

    .new-study .button {
      height: $top-height;
      padding: 0 1em;

      &::before {
        font-size: 2em;
      }
    }
  }

  .list {
    border-top: $border;
  }
  
  
}
